<footer>
    <ul>
      <li><a href="#">Impressum und Datenschutz</a></li>
      <li><a href="#">Copyright</a></li>
    </ul>
  </footer>

  <style lang="scss">
    footer {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
      }
    }
  </style>