<footer>
  <a href="#">Impressum und Datenschutz</a>
  <a href="#">Copyright</a>
</footer>

<style lang="scss">
  footer {
    max-width: calc(var(--content-max-width) * 1.1);
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
    }
  }
</style>