<footer>
  <a href="#">Impressum und Datenschutz</a>
  <a href="#">Copyright</a>
</footer>

<style lang="scss">
  footer {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
    }
  }
</style>