---
import Nav from "./Nav.astro";
import { Image } from '@astrojs/image/components';
import heroImage from '../../assets/hero.jpg';
---
<header>
  <Nav></Nav>
  <div style="width: 300px: height: 300px">
    <Image
      loading={"eager"}
      src={heroImage}
      width={300}
      aspectRatio="1:1"
      format={'webp'}
      fit={"cover"}
      alt="descriptive text"
    />
  </div>
</header>