<a href="/" title="Logolink zur Homeseite von Frankly Web ">
  <img
    src="/images/Logo-Light.svg"
    width="350"
    height="56"
    alt="descriptive text"
  />
</a>
<style>
  a {
    z-index: 1;
    width: 350px;
    height: auto;
    max-width: 70vw;
  }
</style>