<nav>
  <a href="/ueber-mich">Über mich</a>
  <a href="/projekte">Projekte</a>
  <a href="/blog">Blog</a>
  <a href="/kontakt">Kontakt</a>
</nav>

<style lang="scss">
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
</style>