---
import Swiper from '../components/vue/Swiper.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Startseite"
  description="Dies ist die Meta Description"  
>
	<main>
		<Swiper client:visible></Swiper>
		<h1>Herzlich willkommen zu meinem Portfolio</h1>
		<!-- Introduction -->
		<section>
			<h2>Einleitung</h2>
		</section>

		<section>
			<h2>Gefeatured Projekte</h2>
		</section>

		<section>
			<h2>Über mich</h2>
		</section>

		<section>
			<h2>Kontakt</h2>
		</section>
		<h1>Welcome to <span class="text-gradient">Startseite</span></h1>
		
	</main>
</Layout>
<style lang="scss" is:global>
	:root {
		--font-base: 'Comfortaa', cursive;
		--font-heading: 'Maven Pro', sans-serif;
		--color-primary: #ffff;
		--color-secondary: #efe;
		--color-accent: #eee;
	}
</style>
<style lang="scss">
	h1 {
		font-family: var(--font-heading);
	}
	h2 {
		font-family: var(--font-base);
	}
</style>
