---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Startseite"
  description="Dies ist die Meta Description"  
>
	<main>
		<h1>Herzlich willkommen zu meinem Portfolio</h1>
		<!-- Introduction -->
		<section>
			<h2>Einleitung</h2>
		</section>

		<section>
			<h2>Gefeatured Projekte</h2>
		</section>

		<section>
			<h2>Über mich</h2>
		</section>

		<section>
			<h2>Kontakt</h2>
		</section>
		<h1>Welcome to <span class="text-gradient">Startseite</span></h1>
		
	</main>
</Layout>
