---
import Swiper from '../components/vue/Swiper.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Startseite"
  description="Dies ist die Meta Description"  
>
	<main>
		<section>
			<h1>Herzlich willkommen zu meinem Portfolio</h1>
		</section>
		
		<!-- Introduction -->
		<section>
			<h2>Einleitung</h2>
		</section>

		<section>
			<h2>Gefeatured Projekte</h2>
		</section>

		<section>
			<h2>Über mich</h2>
		</section>

		<section>
			<h2>Kontakt</h2>
		</section>

		<section>
			<h1>Welcome to <span class="text-gradient">Startseite</span></h1>

		  	<h1>Heading1</h1>
		  	<h2>Heading2</h2>
		  	<h3>Heading3</h3>
		  	<h4>Heading4</h4>
		  	<p>Paragraph</p>
			
		  	<Swiper client:visible></Swiper>
		</section>
		
	</main>
</Layout>