---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Kontakt"
  description="Dies ist die Meta Description"  
>
	<main>
		<h1>Welcome to <span class="text-gradient">Kontakt</span></h1>
		<section>
			<h2>Kontakt Formular</h2>
		</section>
		<section>
			<h2>Kontakt Informationen</h2>
		</section>
		<section>
			<h2>Social Media</h2>
		</section>
	</main>
</Layout>