---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Projekte"
  description="Dies ist die Meta Description"  
>
	<main>
		<section>
			<h2>Projekte</h2>
			<p>Filter</p>
			<p>Thumbnails</p>
			<p>Details</p>
			<p>Kategorien</p>
		</section>
		<section>
			<h2>Kontakt Informationen</h2>
		</section>
	</main>
</Layout>