---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Über mich"
  description="Dies ist die Meta Description"  
>
	<main>
		<h1>Welcome to <span class="text-gradient">Über mich</span></h1>
		<section>
			<h2>Einführung zu mir</h2>
		</section>
		<section>
			<h2>Meine Erfahrungen</h2>
		</section>
		<section>
			<h2>Meine Ausbildung</h2>
		</section>
		<section>
			<h2>Skills und Expertise</h2>
		</section>
		<section>
			<h2>Persönliche Interessen</h2>
		</section>
		<section>
			<h2>Kontakt Informationen</h2>
		</section>
	</main>
</Layout>