---
import MetaHead from '../components/head/MetaHead.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

export interface Props {
	title: string;
	description: string
}
const { title } = Astro.props;
const { description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <MetaHead title={title} description={description}></MetaHead>
  <body>
  	<Header></Header>
  	<slot />
  	<Footer></Footer>
	<script>
		import "../scripts/navigation.js";
	</script>
  </body>
</html>