---
import MetaHead from '../components/layout/MetaHead.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Swiper from '../components/vue/Swiper.vue';

export interface Props {
	title: string;
	description: string
}
const { title } = Astro.props;
const { description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de_CH">
	<MetaHead title={title} description={description}></MetaHead>
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>

<style is:global>

</style>
